/*  base start */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

html, body{
    overflow-x: hidden !important; 
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container2 {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    display: flex;
}

button {
    cursor: pointer;
    border: none;
}

button:disabled {
  opacity: 0.4 !important;
  cursor: no-drop;
}

.btn {
    display: inline-block;
    padding: 0 25px;
    line-height: 40px;
    font-weight: 500;
    border: 1px solid black;
    transition: .2s ease all;
    z-index: 1001;
}

.btn2 {
    display: inline-block;
    padding: 0 25px;
    line-height: 40px;
    font-weight: 500;
    color: white;
    transition: .2s ease all;
    z-index: 1001;
}

.btn-ozel-mega {
    background-color: rgb(255, 55, 0);
    color: white;
    border: none;
    transition: .2s ease all;
    padding: 6px 25px;
    font-size: 18px;
}

.btn-ozel-mega:hover {
    background-color: white;
    color: rgb(255, 55, 0);
    border: none;
}

.btn-sm {
    line-height: 33px;
}

.btn-lg {
    line-height: 45px;
}

.btn-primary {
    background-color: rgb(255, 55, 0);
    color: white;
    border-color: rgb(255, 55, 0);
}

.btn-primary:hover {
    background-color: white;
    color: rgb(255, 55, 0);
    border-color: rgb(255, 55, 0);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    outline: none;
    border: 1px solid #dee0ea;
    padding: 0.5rem 0.5rem 0.5rem 0.9375rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: gray;
}

input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
}

.img-fluid{
    width: 100%;
}


/* base end */

/* base responsive */

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width: 420px) {
    .container {
        max-width: 350px;
    }
}