/*! global css */

 @import url(base.css);

 /*! layout */
 @import url(layout/header.css);
 @import url(layout/footer.css);

 /*! components */
@import url(components/modal-search.css);
@import url(components/slider.css);
@import url(components/yelpaze.css);
@import url(components/category-item.css);
@import url(components/product-item.css);
@import url(components/campaign-item.css);
@import url(components/campaign-single.css);
@import url(components/blog-item.css);
@import url(components/brand-item.css);
@import url(components/policy-item.css);


/*! pages  */

@import url(pages/home.css);
@import url(pages/shop.css);

/*! Mause kaybetmek için */

/* body {
    cursor: none;
}

a {
    cursor: none;
} */

/*! Mause kaybetmek için */

/*? Mause imleci değiştirmek için */

/* body {
    cursor: url('../img/tarimozlogo.png') 16 16, auto;
}

a {
    cursor: url('../img/tarimozlogo.png') 16 16, pointer;
} */

/*? Mause imleci değiştirmek için */

.cursor-ball {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid rgb(255,55,0);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    /* top/left transition yok, hareketi JS ile smooth yapacağız */
    will-change: transform;
}

/* Her tıklamada JS ile eklenecek mini top */
.cursor-ball .cursor-pulse {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: rgb(255,55,0);
    opacity: 0.8;
    pointer-events: none;
    animation: innerPulse 0.35s ease-out forwards;
}

@keyframes innerPulse {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.7;
    }
    50% {
        width: 12px;
        height: 12px;
        opacity: 1;
    }
    100% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
}

body::-webkit-scrollbar{
    display: none;
}
